<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="in.eigene.miary"
          android:versionCode="31"
          android:versionName="0.6"
>
    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="21"/>

    <!-- Parse SDK. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Exporting. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- Reminder notifications scheduling -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- Syncing. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

    <application
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/Miary.Theme.Application"
            android:name="in.eigene.miary.Application"
            android:allowBackup="true"
    >
        <!-- Activities -->
        <activity
                android:name=".activities.FeedActivity"
                android:label="@string/app_name"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="in.eigene.miary.activities.NoteActivity"
                android:label="@string/activity_note"
        />
        <activity
                android:name="in.eigene.miary.activities.SettingsActivity"
                android:label="@string/activity_settings"
        />
        <activity
                android:name="in.eigene.miary.activities.PinActivity"
                android:label="@string/activity_pin"
                android:windowSoftInputMode="stateAlwaysVisible"
                android:theme="@style/Miary.Theme.Modal"
        />
        <activity
                android:name=".activities.AuthenticatorActivity"
                android:label="@string/activity_authenticator"
                android:theme="@style/Miary.Theme.Modal"
        />

        <!-- Dropbox Android Core SDK. -->
        <activity
                android:name="com.dropbox.client2.android.AuthActivity"
                android:launchMode="singleTask"
                android:configChanges="orientation|keyboard">
            <intent-filter>
                <data android:scheme="db-cvklgjd9ykfi561" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Services -->
        <service
                android:name=".services.NotificationIntentService"
                android:enabled="true"
        />
        <service android:name=".sync.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                    android:name="android.accounts.AccountAuthenticator"
                    android:resource="@xml/authenticator"
            />
        </service>

        <!-- Receivers -->
        <receiver
                android:name=".receivers.BootReceiver"
                android:enabled="true"
        >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
                android:name=".receivers.CreateNewNoteReceiver"
        />

        <!-- Syncing. -->
        <provider
                android:name=".sync.StubContentProvider"
                android:authorities="in.eigene.miary.provider"
                android:exported="false"
                android:syncable="true"
        />
        <service
                android:name=".sync.SyncService"
                android:exported="true"
                android:process=":sync"
        >
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                    android:name="android.content.SyncAdapter"
                    android:resource="@xml/syncadapter"
            />
        </service>
    </application>
</manifest>
